@import 'bootstrap';
// @import 'ember-power-select/themes/bootstrap';
// @import 'ember-power-select';
@import 'adminlte';

.amchart {
  height: 20em;

  @include media-breakpoint-up(sm) {
    height: 40em;
  }
}

// fix ember power select dropdown behind a modal
// 
.ember-power-select-dropdown{
  z-index: $zindex-modal;
}

.saving-results {
  height: 20em;

  @include media-breakpoint-up(sm) {
    height: 40em;
  }
}

#admin-lte-logo {
  background-color: white;
}

// Smallbox
.small-box .icon > svg.svg-inline--fa,
.small-box .icon > svg.svg-inline--fas,
.small-box .icon > svg.svg-inline--far,
.small-box .icon > svg.svg-inline--fab {
  font-size: 70px;
  top: 20px;
}

.small-box .icon > svg {
  font-size: 90px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.3s linear;
}

.small-box:hover .icon > svg {
  font-size: 95px;
}

.small-box:hover .icon > svg.svg-inline--fa,
.small-box:hover .icon > svg.svg-inline--fas,
.small-box:hover .icon > svg.svg-inline--far,
.small-box:hover .icon > svg.svg-inline--fab {
  font-size: 75px;
}
