<li class="nav-item has-treeview {{if this.isOpen " menu-open"}}">
  <a href="#" class="nav-link" onclick={{this.toggle}}>
    {{#if @icon}}
      {{#if @iconPrefix}}
        <FaIcon class="nav-icon" @prefix={{@iconPrefix}} @icon={{@icon}} />
      {{else}}
        <FaIcon class="nav-icon" @icon={{@icon}} />
      {{/if}}
    {{/if}}
    <p>
      {{@label}}
      <FaIcon class="right" @icon={{if this.isOpen "angle-down" "angle-left" }} />
      {{#if @badgeLabel}}
        <span class="badge badge-info right">{{@badgeLabel}}</span>
      {{/if}}
    </p>
  </a>
  {{yield}}
</li>
