<footer class="main-footer">
  <strong>
    Copyright &copy; 2021 FiscaCryptoFacile
  </strong>
  <div class="float-right d-none d-sm-inline-block">
    <b>
      Version
    </b>
    {{app-version versionOnly=true}}
  </div>
</footer>
