<Alte::MainSidebar>
  <LinkTo class="brand-link" @route="index">
    <FaIcon @icon="igloo" />
    <span class="brand-text font-weight-light">CryptoFiscaFacile</span>
  </LinkTo>

  <div class="sidebar">
    {{!-- Sidebar Menu --}}
    <nav class="mt-2">
      <BsNav @stacked="true" @type="pills" class="nav-sidebar" data-widget="treeview" role="menu" data-accordion="false"
        as |nav|>
        <nav.item>
          <nav.linkTo @route="index">
            <FaIcon class="nav-icon" @icon="tachometer-alt" />
            <p>Tableau de bord</p>
          </nav.linkTo>
        </nav.item>
        <nav.item>
          <nav.linkTo @route="configuration">
            <FaIcon class="nav-icon" @icon="balance-scale-left" />
            <p>Configuration</p>
          </nav.linkTo>
        </nav.item>
      </BsNav>
    </nav>
  </div>
</Alte::MainSidebar>
