<BsNavbar class="main-header navbar-white" @backgroundColor="none" as |navbar|>
  <navbar.nav as |nav|>
    <nav.item>
      <BsButton @type="link" class="border-0 nav-link" {{alte/push-menu enableRemember=true}}>
        <FaIcon @icon="bars" />
      </BsButton>
    </nav.item>
  </navbar.nav>
</BsNavbar>
