<div class="info-box {{if @color (concat "bg-" @color)}}">
  {{#if @icon}}
    <span class="info-box-icon">
      {{#if @iconPrefix}}
        <FaIcon class="mr-1" @prefix={{@iconPrefix}} @icon={{@icon}} />
      {{else}}
        <FaIcon class="mr-1" @icon={{@icon}} />
      {{/if}}
    </span>
  {{/if}}
  {{yield}}
  {{#if @loading}}
    <div class="overlay">
      <LoadingSpinner @size="4x" />
    </div>
  {{/if}}
</div>
